.checkbox {
    position: relative;
    display: inline-block;
    width: 35%;
    height: 17%;
  }
  
  #BruhButton {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 72%;
    left: 27%;
    right: 27%;
    bottom: 17%;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    transform: translateX(110%);
    height: 155%;
    width: 50%;
    bottom: -20%;
    background-color: black;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: greenyellow;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px greenyellow;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-20%);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }